* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1240px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

header .header-top {
  height: 25px;
  background-color: #0282f9;
}

header .header-top .container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-top .container nav {
  width: 300px;
}

header .header-top .container nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-top .container nav ul li a {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

header .header-bottom {
  height: 115px;
  border-bottom: 1px solid grey;
}

header .header-bottom .container {
  height: 100%;
}

header .header-bottom .container .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .container .navbar .logo-container {
  width: 80px;
}

header .header-bottom .container .navbar .logo-container img {
  display: block;
  width: 100%;
}

header .header-bottom .container .navbar .menu {
  height: 100%;
  width: 900px;
}

header .header-bottom .container .navbar .menu ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .container .navbar .menu ul li {
  height: 100%;
}

header .header-bottom .container .navbar .menu ul li a {
  display: block;
  color: #464646;
  font-weight: bold;
  line-height: 110px;
}

header .header-bottom .container .navbar .menu ul li a.active,
header .header-bottom .container .navbar .menu ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

header .header-bottom .container .navbar .search-container {
  width: 140px;
  height: 100%;
}

#jumbotron {
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
}

main {
  background-color: #1c1c1c;
}

main .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 60px 0 20px 0;
}

main .container .card {
  flex-basis: 185px;
  padding: 10px;
}

main .container .card .comic-link .poster-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

main .container .card .comic-link p {
  color: white;
}

