* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1240px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

header .header-top {
  height: 25px;
  background-color: #0282f9;
}

header .header-top .container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .header-top .container nav {
  width: 300px;
}

header .header-top .container nav ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-top .container nav ul li a {
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

header .header-bottom {
  height: 115px;
  border-bottom: 1px solid grey;
}

header .header-bottom .container {
  height: 100%;
}

header .header-bottom .container .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .container .navbar .logo-container {
  width: 80px;
}

header .header-bottom .container .navbar .logo-container img {
  display: block;
  width: 100%;
}

header .header-bottom .container .navbar .menu {
  height: 100%;
  width: 900px;
}

header .header-bottom .container .navbar .menu ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-bottom .container .navbar .menu ul li {
  height: 100%;
}

header .header-bottom .container .navbar .menu ul li a {
  display: block;
  color: #464646;
  font-weight: bold;
  line-height: 110px;
}

header .header-bottom .container .navbar .menu ul li a.active,
header .header-bottom .container .navbar .menu ul li a:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
}

header .header-bottom .container .navbar .search-container {
  width: 140px;
  height: 100%;
}

#jumbotron {
  height: 400px;
  background-image: url("/images/jumbotron.jpg");
}

footer {
  background-color: #303030;
}

footer .top-footer {
  height: 400px;
  background-image: url("/images/footer-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

footer .top-footer .container {
  width: 1240px;
  height: 100%;
  background-image: url("/images/dc-logo-bg.png");
  background-position: right;
  background-repeat: no-repeat;
}

footer .bottom-footer {
  height: 110px;
}

main {
  background-color: #1c1c1c;
}

main .container {
  padding: 60px 0 20px 0;
  position: relative;
}

main .container .main-title {
  background-color: #0282f9;
  display: inline-block;
  position: absolute;
}

main .container .cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .container .cards-container .card {
  flex-basis: 185px;
  padding: 10px;
}

main .container .cards-container .card .comic-link .poster-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 20px;
}

main .container .cards-container .card .comic-link p {
  color: white;
}

#comic-details .separator {
  height: 80px;
  background-color: #0282f9;
  position: relative;
}

#comic-details .separator .container {
  width: 1020px;
}

#comic-details .separator .container .comic-poster-container {
  height: 295px;
  width: 195px;
  border: 1px solid white;
  position: absolute;
  bottom: 20px;
}

#comic-details .separator .container .comic-poster-container .poster-wrapper {
  position: relative;
  height: 100%;
}

#comic-details .separator .container .comic-poster-container .poster-wrapper span {
  position: absolute;
  font-size: 13px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1px 3px;
  background-color: #00a9d9;
}

#comic-details .separator .container .comic-poster-container .poster-wrapper .type {
  top: 0;
  left: 0;
}

#comic-details .separator .container .comic-poster-container .poster-wrapper .view-gallery {
  bottom: 0;
  left: 0;
  width: 100%;
}

#comic-details #details-wrapper .container {
  width: 1020px;
  height: 100%;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comic-details #details-wrapper .container .details {
  width: 680px;
}

#comic-details #details-wrapper .container .details h1 {
  color: #003f5e;
}

#comic-details #details-wrapper .container .details .price {
  height: 50px;
  background-color: #55ba59;
}

#comic-details #details-wrapper .container .advert-container {
  width: 300px;
}

#talent-and-specs {
  height: 380px;
  background-color: #f6f6f6;
}

#talent-and-specs .container {
  width: 1020px;
  padding: 20px 0;
}

#talent-and-specs .container .infos-wrapper {
  display: flex;
  justify-content: space-between;
}

#talent-and-specs .container .infos-wrapper .talent,
#talent-and-specs .container .infos-wrapper .specs {
  width: 490px;
}

#talent-and-specs .container .infos-wrapper .talent h2,
#talent-and-specs .container .infos-wrapper .specs h2 {
  margin-bottom: 25px;
}

#talent-and-specs .container .infos-wrapper .talent .art,
#talent-and-specs .container .infos-wrapper .talent .written {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid lightgrey;
  font-size: 12px;
}

#talent-and-specs .container .infos-wrapper .talent .art .label,
#talent-and-specs .container .infos-wrapper .talent .written .label {
  width: 30%;
}

#talent-and-specs .container .infos-wrapper .talent .art .list,
#talent-and-specs .container .infos-wrapper .talent .written .list {
  width: 70%;
}

#talent-and-specs .container .infos-wrapper .talent .art .list a,
#talent-and-specs .container .infos-wrapper .talent .written .list a {
  color: #00a9d9;
}

#talent-and-specs .container .infos-wrapper .talent > div:last-child {
  border-bottom: 1px solid lightgrey;
}

#talent-and-specs .container .infos-wrapper .specs .series-info,
#talent-and-specs .container .infos-wrapper .specs .price-info,
#talent-and-specs .container .infos-wrapper .specs .sale-info {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid lightgrey;
  font-size: 12px;
}

#talent-and-specs .container .infos-wrapper .specs .series-info .label,
#talent-and-specs .container .infos-wrapper .specs .price-info .label,
#talent-and-specs .container .infos-wrapper .specs .sale-info .label {
  width: 30%;
}

#talent-and-specs .container .infos-wrapper .specs .series-info .link,
#talent-and-specs .container .infos-wrapper .specs .price-info .link,
#talent-and-specs .container .infos-wrapper .specs .sale-info .link {
  width: 70%;
}

#talent-and-specs .container .infos-wrapper .specs .series-info .link a,
#talent-and-specs .container .infos-wrapper .specs .price-info .link a,
#talent-and-specs .container .infos-wrapper .specs .sale-info .link a {
  color: #00a9d9;
}

#talent-and-specs .container .infos-wrapper .specs > div:last-child {
  border-bottom: 1px solid lightgrey;
}

