main{

    background-color: $main_section_bg;

    .container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 60px 0 20px 0;

        .card{
            flex-basis: 185px;
            padding: 10px;

            .comic-link{

                .poster-container{
                    width: 180px;
                    height: 180px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    img{
                    }
                }

                p{
                    color: white;
                }
            }
        }
    }
}
