$main_color: #0282f9;
$main_grey: #464646;
$main_font: 'Open Sans', sans-serif;
$font_condensed: 'Open Sans Condensed', sans-serif;

$main_section_bg: #1c1c1c;
$small_titles_bg: #00a9d9;
$comic_title_color: #003f5e;
$credits_bg_color: #f6f6f6;
